.content_img  {
    background-image: url("../../../img/img_content.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
.content_user_logo {
    grid-area: 2 / 2 / span 1 / span 3;
    width: 200px;
}